@charset "UTF-8";
/* estilo para impressor*/
*{
    margin: 10px;
    padding: 10px;
}
html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
}
menu {
    display: none;
}
article::after {
    content: 'Este artigo foi impresso apartir do curso de Html5 e Css3';
}