@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: lightgrey;
}
header {
    background-color:gray ;
}
header> h1 {
    padding: 10px;
    text-align: center;
}
menu {
    display: none;
}
menu > ul {
    list-style: block;
}
menu > ul > li > a {
    display: block;
    text-decoration: none;
    background-color: rgba(6, 1, 1, 0.573);
    padding: 10px;
    color: white;
    border-top: 2px solid gray;
    text-align: center;
}
menu > ul > li > a:hover {
    background-color: gray;
}
span#burger {
    background-color: rgb(19, 18, 18);
    display: block;
    text-align: center;
    padding: 10px;
    color: white;
    border-top: 2px solid rgba(0, 0, 0, 0.233);
    cursor: pointer;
}
span#burger:hover {
    background-color: white;
    color: black;
}
main {
    width: 90vw;
    margin: auto;
    padding: 10px;
    margin-top: 3px;
}
article {
    background-color: white;
    border-radius: 10px;
}
article > h2 {
    padding: 10px;
    margin-bottom: 10px;
}
article > p {
    text-align: justify;
    padding: 10px;
    margin-bottom: 20px;
    text-indent: 20px;
}